<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.green.company.mapper.ComMapper">

<insert id="insert">
INSERT INTO USER_TB(ID, PASSWORD, TYPE_NUMBER, CREATED_AT)
VALUES(#{ID},#{PASSWORD},#{TYPE_NUMBER},#{CREATED_AT})

INSERT INTO COMPANY_INFO_TB(ID, CNAME, COM_LOGO,CNUMBER,CREPRESENTIVE, ADDRESS,MANAGER,CSIZE,CYEAR)
VALUES(#{ID}, #{CNAME}, #{COM_LOGO}, #{CNUMBER}, #{CREPRESENTIVE}, #{ADDRESS}, 
       #{MANAGER}, #{CSIZE}, #{CYEAR})
</insert>


</mapper>